<nav 
  class="navbar navbar-expand-lg sticky-top  border-bottom border-bottom-light"
  data-bs-theme="light" 
>
  <div class="container-fluid">
    <a class="navbar-brand fw-medium" href="/home"
      >Course<span style="color: purple">Advisor</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/certifications">All Certifications</a>
        </li>
      </ul>
      <div class="d-flex">
        <div class="navbar-nav">></div>
      </div>
    </div>
  </div>
</nav>
