<nav class="navbar navbar-expand-lg sticky-top bg-light border-bottom border-bottom-light" data-bs-theme="light">
  <div class="container-fluid">
    <a class="navbar-brand fw-medium" href="/home">Course<span style="color: #1d4ed8">Advisor</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/certifications/recommendation">Encuesta de recomendacion</a>
          <a class="nav-link" href="/certifications">Certificados</a>
          <a class="nav-link" href="#">About</a>
      </div>
    </div>
  </div>
</nav>
